<style type="text/css">
body{	
	height: 100%;
	background-image: url('/assets/splash.jpg');
/*	background-size:cover;*/
	background-repeat: no-repeat;
	background-position: right 90%;
}

#block{
	margin: 10%;
	background-color: rgba(0,0,0,0.6);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-radius: 15px;
	padding: 15px;
}

#block h1,h2,h5,p,ul,li, #block{
	 color: white;
}

#block h1{
	font-size:20px;

}


</style>
<%


%>
<div id='block'>
	<h1>If you are lucky enough to be invited, then you're either:</h1>
	<ul>
		<li>A great great great friend of mine</li>
		<li>Earned my respect</li>
		<li>Insanely good looking</li>
		<li>All of the above</li>		
	</ul>
	<h1>Therefore I have carefully handpicked some awesome movies for you to choose from</h1>
<!--	<h2>720p:</h2>
	<%=@list720p%>
	
	<h2>SD:</h2>
	<%=@sd%>
	
	<h2>Asian Cinema</h2>
	<%=@asian%>
	
	<h2>Misc</h2>
	<%=@misc%>
	-->
	<h1>Also available, The kid's cocaine:</h1>
	<%=@games%>
	and others! (you're not gonna play my SimCity 2000 right?)<br>
	I also have 2 gamepads!! Isn't life great?!!<br><br>

	Of course this is no ordinary theatre, Wide range of drinks and light snacks available at the bar.<br><br>

	If you want anything else, you're SO greedy.<br>
	Bring your own!
</div>