<style type="text/css">
body{	
	height: 100%;
	background-image: url('/assets/splash.jpg');
/*	background-size:cover;*/
	background-repeat: no-repeat;
	background-position: right 90%;
}

#block{
	margin: 10%;
	background-color: rgba(0,0,0,0.6);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-radius: 15px;
	padding: 15px;
}

#block h1,h2,h5,p,ul,li, #block{
	 color: white;
}

#block h1{
	font-size:20px;

}


</style>
<%
@asian = '<ul>'
"關公大戰外星人 ｜ 香港大災難 ｜ 戰神 ｜ CALAMITY
春光乍泄 ｜ Happy Together (1997)
東邪西毒：終極版 ｜ Ashes.Of.Time.Redux.2008.720p.BluRay.x264.DTS-WiKi
臥虎藏龍 ｜ Crouching Tiger, Hidden Dragon 2000 (Dual Audio) 720p BRRip H264 (Evade)
倩女幽魂 <del>1</del>,2,3 ｜ A Chinese Ghost Story.1987-1991
英雄本色｜A.Better.Tomorrow.Trilogy.BluRay.720p.DTS.2Audio.x264-CHD"
.each_line.each{|x| @asian += '<li>' + x + '</li>'}
@asian += '</ul>'
@asian = @asian.html_safe

@misc = '<ul>'
"黃子華棟篤笑
譚詠麟再度感動演唱會2010
Mythbusters
Simpsons"
.each_line.each{|x| @misc += '<li>' + x + '</li>'}
@misc += '</ul>'
@misc = @misc.html_safe

%>
<div id='block'>
	<h1>If you are lucky enough to be invited, then you're either:</h1>
	<ul>
		<li>A great great great friend of mine</li>
		<li>Earned my respect</li>
		<li>Insanely good looking</li>
		<li>All of the above</li>		
	</ul>
	<h1>Therefore I have carefully handpicked some awesome movies for you to choose from:</h1>
	<h2>720p:</h2>
	<%=@list720p%>
	
	<h2>SD:</h2>
	<%=@sd%>
	
	<h2>Asian Cinema</h2>
	<%=@asian%>
	
	<h2>Misc</h2>
	<%=@misc%>
	
	<h1>Also available, The kid's cocaine:</h1>
	<%=@games%>
	and others! (you're not gonna play my SimCity 2000 right?)<br>
	I also have 2 gamepads!! Isn't life great?!!<br><br>

	Of course this is no ordinary theatre, Wide range of drinks and light snacks available at the bar.<br><br>

	If you want anything else, you're SO greedy.<br>
	Bring your own!
</div>